## .NET / C#
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Visual Studio
.vs/
*.rsuser
*.userprefs

## NuGet
packages/

## PlantUML
*.puml
plantuml.jar

## OS
Thumbs.db
Desktop.ini
.DS_Store
